<div id="base">
	   <table class="TableEspacePrincipalCat">
			<tr id="PremiereLigne">
				<td id="ChoixCategorie">  
					<div class="ListeDeroulanteCategorie">
						<button (click)="OnClickListeDeroulanteCategorie()" class="btnCategorie"> Catégories </button>
						<select class="ListeCategorie" (click)="OnClickListeDeroulanteCategorie()">
							 <option id="ElementListe" *ngFor ="let categ of m_TabCat" (click)="OnClickCategorie(categ.catId)" title="{{categ.catNom}}">
								 {{categ.catNom}}
								 
							</option>
						</select>
					</div>
                </td>
				<td id="EspaceCritereChoisi" rowspan="2">
					
						<div class="ListeDeroulanteCritere">
							<button (click)="OnClickListeDeroulanteCritere()" class="btnCritere"> Critères </button>
							  <select class="ListeCritere" (click)="OnClickListeDeroulanteCritere()">
								<option id="ElementListe" *ngFor ="let critere of m_TabCrit" (click)="OnClickCritere(critere)" title="{{critere.critNom}}">
									<img src="app/images/add.gif" alt="non" />
									{{critere.critNom}}
								</option>
							</select>
						</div>
					
				</td>
			</tr>
			
		</table>
	</div>