<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="/../app/css/app.component.css">
	<script type="text/javascript" src="index.js"></script>
	<title> EPM </title>
	
	</head>

	<body>
		<table class="TableComplete">
            <tr>
				<td id="EspaceLogo" rowspan="2">
					<a target="_blank" href="http://cll.qc.ca/programmes/techniques/electrophysiologie-medicale/">						
						<img src="app/images/LogoCegep.png" alt="Logo Cegep">					
					</a>
				</td>
                <td id="Navigation" colspan="2">
                </td> 
            </tr>

			<tr>
				<td colspan="2" rowspan="2" id="EspacePrincipal">
					<router-outlet></router-outlet>
				</td>

			</tr>
			<tr>
				<td id="Menu">
					<ul id="ulMenu">
                        <li id="ElementDansMenu">
                            Administration
                        </li>
                        <li id="ElementDansMenu">
                            Historique
                        </li>
                    
                    </ul>
				</td>
			</tr>

		</table>
	
	</body>

</html>

		
