<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="/../app/css/app.component.css">
	<title> EPM </title>
	</head>

	<body (mousemove)="MouvementSouris($event)">
		<table class="TableComplete">
            <tr>
				<td id="EspaceLogo" rowspan="2">
					<a target="_blank" href="http://cll.qc.ca/programmes/techniques/electrophysiologie-medicale/">						
						<img src="app/images/LogoCegep.png" alt="Logo Cegep">					
					</a>
				</td>
                <td id="Navigation" colspan="2">
					<div id="divAccueil" *ngIf="this.authentificationService.Connecte()">
						<button (click)="Reroutage(2)" id="btnAccueil">Accueil</button>
					</div>
					<div id="divDeconnexion" *ngIf="this.authentificationService.Connecte()">
						<button (click)="Deconnexion(0)" id="btnDeconnexion">Déconnexion</button>
					</div>
                </td> 
            </tr>
			<tr>
				<td colspan="2" rowspan="2" id="EspacePrincipal">
					<router-outlet></router-outlet>
				</td>
			</tr>
			<tr>
				<td id="Menu">
					<div id="divMenuHaut">
                        <div *ngIf="this.authentificationService.Admin() && this.authentificationService.Domaine()" id="divAdmin">
        					<h3 style = "text-decoration:underline;">Outils administrateur</h3>
							<ul>
								<li (click)="Reroutage(0)">Page d'ajout de tracés</li>
								<li (click)="Reroutage(1)">Page d'ajout de catégories et de critères</li>
							</ul> 
						</div>
						<div *ngIf="this.authentificationService.Connecte()" id="divParametre">
							<h3 style = "text-decoration:underline;">Paramètres</h3>
							<ul>
								<li (click)="Reroutage(3)">Modification du profil utilisateur</li>
							</ul>
						</div>
				    </div>
					<hr>
					<div *ngIf="this.authentificationService.Connecte()" id="divMenuBas">
                        	<li id="ElementDansMenu">Historique</li>
							<div *ngFor="let trace of this.historiqueService.tabHistoriqueTrace">
								{{trace.tracId}}
							</div>

					</div>
				</td>
			</tr>
		</table>
	</body>
</html>
