<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="/../css/index.component.css">
	<script type="text/javascript" src="index.js"> </script>
	<title> EPM </title>
	
	
	
	</head>

	<body>
		<table class="TableComplete">
            <tr>
				<td id="EspaceLogo" rowspan="2">
				    	
				</td>
                <td id="Navigation" colspan="2">
                    
                </td> 
            </tr>
			<tr>
				<td id="ChoixCategorie">  
					<div class="ListeDeroulanteCategorie">
						<div id="ListeCategorie" class="ContenuListeDeroulanteCategorie" onclick="OnClickCacheListeCategorie()">
							
							
						</div>
					</div>
				<td id="EspaceCritereChoisi" rowspan="2">
					
				</td>
			</tr>
			<tr>
				<td id="Historique" rowspan="3">
					
				</td>
				<td id="ChoixCritere">
					<div class="ListeDeroulanteCritere">
						<div id="ListeCritere" class="ContenuListeDeroulanteCritere" onclick="OnClickCacheListeCritere()">
							
							
						</div>
					</div>
				</td>
			</tr>

			<tr id="EspacePrincipal">
				<td >
					
				</td>
			</tr>
					
		</table>
	
	</body>

</html>