<!DOCTYPE html>
<html>

		<table class="TableComplete" border>
            <tr>
				<td id="EspaceLogo" rowspan="2">
					
				<router-outlet></router-outlet>
  				<ul>
   					 <li>
     					 <a routerLink="index">index</a>
    				</li>
   					 <li>
      					<a routerLink="categorie">Categorie</a>
   					 </li>
  			   </ul>

				</td>
                <td id="Navigation" colspan="1">
                    
                </td> 
            </tr>

			<tr id="EspacePrincipal">
				<td >
					
				</td>
			</tr>
					
		</table>
	
</html>