<div class="FormulaireMDP">
    <form #p="ngForm" (ngSubmit)="ResetMDP(p)" novalidate>
        <div>
            <p><label>Nom d'utilisateur: </label>
            <input type="text" [(ngModel)]="UserName" name="UserName" required></p>    
	        <p><button type="submit" id="btnReset">Réinitialiser le mot de passe</button></p>
        </div>

    <form #c="ngForm" id="bar" name ="bar" (ngSubmit)="Cancel(c)" novalidate>
        <p><button type="submit" id="btnCancel">Retour</button></p>
    </form>

    </form>
</div>