 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="epm.css">
    <title>title</title>
  </head>

  <body id = "back">
      
<div id="bandeau">Ceci est le bandeau</div>
<div id="contenu">Ceci est le contenu
    <div id="menugauchecont">
	    <div id="menuhaut">Menu haut</div>
	    <div id="menubas">Menu bas</div>
    </div>
	<!--<div id="menudroitcont">
		<div id="menuhautcentre">Menu haut centre</div>
		<div id="menubascentre">Menu bas centre</div>
	</div>-->
</div>
<div id="piedpage">Ceci est le pied de page</div>
    



<!--<div id="piedpage">Ceci est le pied de page</div> -->
  </body>

</html>





