:root{
	--CouleurTheme: #1976d2;
	--CouleurThemeHover: #328ce7;
}

html,body{
    margin:0;
    padding:0;
    height:100%;
    border:none;
    overflow-x: hidden;
}

.TableComplete{
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}

#Menu{
    width: 25vh;
    background-color: var(--CouleurTheme);
    box-shadow: 3px 4px 3px #8c8c8c;
    color: white;
    position: relative;
    height: 80vh;
}

#ulMenu{
    position: absolute;
    top: 0px;
}

#ElementDansMenu{
    list-style: none;
    font-size: 18px;
    margin: 5px;
    font-weight: 600;
}

#Navigation{
    height: 6vh;
    background-color: var(--CouleurTheme);
    box-shadow: 0 3px 4px #8c8c8c;
    color: white;
}

#EspaceLogo{
    background-color: var(--CouleurTheme);
    box-shadow: 3px 4px 3px #8c8c8c;    
    text-align: center;
}

#EspacePrincipal{
    position: relative;
}