.floatleft {
    float:left; 
    width: 45%;
    height: 60vh;
    background-size: cover;
    padding-left: 2.5%;
}

.floatright {
    float: right;
    width: 45%;
    height: 60vh;
    background-size: cover;
    padding-right: 2.5%;
}