body#back{
	background: linear-gradient(-90deg,#73C8A9,#373B44)
}

div#bandeau {
    border-radius: 15px;
    margin-bottom: 1vh;
	width:100%;
	height:5vh;
	background-color:#ccddd0;
	}
div#contenu {
    border-radius: 15px;
	width:100%;
	height:84vh;
	background: linear-gradient(90deg,#73C8A9,#ccddd0);
	}
div#piedpage {
    margin-top: 1vh;
    border-radius: 15px;
    margin-bottom: 1vh;
	width:100%;
	height:5vh;
	background-color:#ccddd0;
    clear:both;
	}
    div#menugauchecont {
	float:left;
	margin-left:1vh;
	margin-bottom: 1vh;
	margin-top: 1vh;
	
	}
    div#menuhaut {
    border-radius: 15px;
	width:100px;
	height:25vh;
	background: linear-gradient(90deg,#136a8a,#267871);
	margin-bottom:1vh;
	opacity: 0.8;
	}
div#menubas {
    border-radius: 15px;
	width:100px;
	height:56vh;
	background: linear-gradient(90deg,#136a8a,#267871);
	opacity: 0.8;
	}
	/*div#menudroitcont {
	float:right;
	margin-left:1vh;
	margin-bottom: 1vh;
	margin-top: 1vh;
	}
	div#menuhautcentre{
	width:90%;
	height:40vh;
	background: linear-gradient(90deg,#136a8a,#267871);
	}*/