:root{
	--CouleurTheme: #1976d2;
	--CouleurThemeHover: #328ce7;
}



.TableEspacePrincipalCat{
    width: 100%;
    border-spacing: 0px;
	position: absolute;
	top: 0px;
    
}




#ChoixCategorie{
	height: 0vh;
}

#ChoixCritere{
    height: 0vh;
    border-bottom-style: solid;
    border-bottom-color: black;
    box-shadow: 0px 5px 4px -2px #8c8c8c;
}




#EspaceCritereChoisi{
	height: 0vh;
	width: 138vh;
	border-bottom-style: solid;
    border-bottom-color: black;
    border-left-color: black;
    border-left-style: solid;
    box-shadow: 0px 5px 4px -2px #8c8c8c;
    position: relative;
}


#ListeCritereChoisi{
    list-style: none;
    display: inline-block;
    position: absolute;
    top: 0px;
}

#btnSupprimerCritereChoisi{
    padding: 0px;
    margin-left: 8px;
    border: none;
    background-color: transparent;
    float: right;
    height: 3px;
}

#CritereChoisi{
  

    border-width: 1px;
    display: inline-block;
	padding: 3px;
	border-radius:5px;	
	border: none;
	background-color: #A9A9F5;
	font-size: 20px;
    width: 130px;
	background-size: 20px 20px;

}


#btnChercher{
	position:absolute;
	left:85%;
	bottom:10%;
	border-radius:5px;	
	border: none;
	background-color: var(--CouleurTheme);
	cursor: pointer;
	color: white;
	padding: 8px;
	padding-left: 12px;
	padding-right: 21px;
	font-size: 20px;
    width: 130px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: right;




}













/*-------------------------Début css pour liste déroulantes---------------------------*/
.btnCategorie, .btnCritere{
	border: none;
	border-radius:5px;
	background-color: var(--CouleurTheme);
	cursor: pointer;
	color: white;
	padding: 8px;
	padding-left: 12px;
	padding-right: 22px;
	font-size: 20px;
    width: 130px;
	background-image: url("app/images/FlecheEnBas.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: right;
	
}

.btnCategorie:hover, .btnCategorie:focus, .btnCritere:hover, .btnCritere:focus{
	background-color: var(--CouleurThemeHover);
}

/*Liste deroulante Catégorie et Critère*/
.ListeDeroulanteCategorie, .ListeDeroulanteCritere{
	display: block;
	margin-left: 85px;
	margin-top: 40px;
    margin-bottom: 40px;
    width: 221px;
}

/*Liste d'éléments de la liste catégorie*/
.ContenuListeDeroulanteCategorie{
	display: none;
	position: absolute;
	min-width: 130px;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.ContenuListeDeroulanteCritere{
	display: none;
	position: absolute;
	min-width: 130px;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*Éléments de la liste Catégorie*/
.ContenuListeDeroulanteCategorie a, .ContenuListeDeroulanteCritere a{
	display: block;
	color: black;
	background-color: white;
	padding: 5px; 
}

/*Hover des éléments de la liste Catégorie*/
.ContenuListeDeroulanteCategorie a:hover, .ContenuListeDeroulanteCritere a:hover{
	background-color: #f2f2f2;
}

.showCategorie{
	display: block;
}

.showCritere{
	display: block;
}

/*-------------------------Fin css pour liste déroulantes---------------------------*/
