

.TableEspacePrincipalCat{
	width: 100%;
    background-size:100%;
    background-position:center;
	background-attachment:fixed;
	background-repeat: no-repeat;	
    border-spacing: 0px;
	position: absolute;
	top: 0px;    
}


#EspaceCritereChoisi{
	height: 0vh;
	width: 138vw;
	border-bottom-style: solid;
    border-bottom-color: var(--CouleurTheme);
    border-left-color: var(--CouleurTheme);
    border-left-style: solid;
    box-shadow: 0px 5px 4px -2px #8c8c8c;
    position: relative;
}

#ListeCritereChoisi{
    list-style: none;
    display: inline-block;
    position: absolute;
    top: 0px;
}


#CritereChoisi{
    border-width: 1px;
    display: inline-block;
	padding: 3px;
	border-radius:5px;	
	border: none;
	background-color: #EAEDED;
	font-size: 20px;
    width: 140px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: right;
}

#btnAjouterTrace{
	position: absolute;
	transform: translate(-100%);
	right: 10%;
	bottom:10%;
	border-radius: 5px;	
	border: none;
	background-color: var(--CouleurTheme);
	cursor: pointer;
	color: white;
	padding: 8px;
	padding-left: 0px;
	font-size: 20px;
    width: 140px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: right;
}


#btnChercher{
	position: absolute;
	right: 5%;
	bottom: 10%;
	border-radius: 5px;	
	border: none;
	background-color: var(--CouleurTheme);
	cursor: pointer;
	color: white;
	padding: 8px;
	padding-left: 0px;
	font-size: 20px;
    width: 130px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: right;
}



#btnSupprimerTrace{
background-color: rgba(125, 141, 163, 0.71);
	border-radius: 5px;
	color: white;
	display: block;
	float: right;

}


#btnChercher:hover, #btnAjouterTrace:hover
{
    background:linear-gradient(white 7%,var(--CouleurThemeHover));
}

.Trace{
	background-color: rgba(125, 141, 163, 0.71);
	margin: 20px;
	border-radius: 5px;
	padding: 10px;
	color: white;
	display: block;
}

.Categorie{
	background-color: rgba(125, 141, 163, 0.71);
	margin: 10px;
	border-radius: 5px;
	padding: 5px;
	color: white;
	display: block;
	position:relative;
}

.ListeCritere{
	background-color:var(--CouleurTheme);
	border-radius: 5px;
	display: none;
	position: absolute;
	left: 27vh;
	width: 29vh;
	top: 0vh;
	z-index: 1;
}

.Critere{
	border-radius: 2px;
	padding: 2px;
	margin: 2px;
	color: white;
	display: block;
}

#ChoixCategorie{
	width: 41vh;
	border-bottom-style: solid;
    border-bottom-color: var(--CouleurTheme);
    box-shadow: 0px 5px 4px -2px #8c8c8c;

}

.Categorie:hover{
	cursor: pointer;
	background-color: var(--CouleurTheme);
}
.Critere:hover{
	cursor: pointer;
	background-color:  rgba(125, 141, 163, 0.71);
}



#lientelechargement{
	float: right;
	margin-right: 25px;
}

.ShowElement{
	display: block;
}

