
		<table class="TableEspacePrincipalCat">
			<tr>
				<td id="ChoixCategorie">  
					<div class="ListeDeroulanteCategorie">
						<button (click)="OnClickListeDeroulanteCategorie()" class="btnCategorie"> Catégories </button>
						<div id="ListeCategorie" (click)="OnClickListeDeroulanteCategorie()" class="ContenuListeDeroulanteCategorie">
							<a *ngFor ="let categ of m_TabCat" >{{categ.catNom}}</a> <!-- href={{categ.catId}} -->
						</div>
					</div>
                </td>
				<td id="EspaceCritereChoisi" rowspan="2">
					<ul id="ListeCritereChoisi">
                        <li id="CritereChoisi">
                            <button id="btnSupprimerCritereChoisi">x</button>
                            Fievre
                        </li>
                    
                    </ul>
				</td>
			</tr>
			<tr>
				<td id="ChoixCritere">
					<div class="ListeDeroulanteCritere">
						<button (click)="OnClickListeDeroulanteCritere()" class="btnCritere"> Critères </button>
						<div id="ListeCritere" (click)="OnClickListeDeroulanteCritere()" class="ContenuListeDeroulanteCritere">
							<a *ngFor ="let crite of m_TabCrit">{{crite.critNom}}</a><!--code pour remplir la liste-->
						</div>
					</div>
				</td>
			</tr>
			<tr>
				
			</tr>
					
		</table>